body {
  background: #bec4bf;
  color: rgb(20, 15, 15);
  font-family: Arial, sans-serif;
}

.container {
  max-width: 900px;
  margin: auto;
}

input {
  padding: 8px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #053b08;
  color: white;
}

button:hover {
  opacity: 0.8;
}

.section {
  background: #3f6db6;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.card {
  background: #6d81d6;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.field label {
  font-weight: bold;
  margin-bottom: 5px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}
.input-nota {
  width: 80px;
}
.input-nome {
  width: 700px;
}